{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} My Blog {% endblock title %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .green-class {
        color: green;
      }
      .red-class {
        color: red;
      }
      .grey-class {
        color: grey;
      }

      .grey-class a {
        color: grey;
      }


    </style>

  </head>
  <body>
    

    <div class="container">
        {% include "navbar.html" %}
        {% block body %}
            
        {% endblock body %}
    </div>

    {% include "reply-modal.html" %}
    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% block script %} {% endblock script %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'tweets/js/tweets_list.js' %}"></script>

    <script>
        
        // Array Remove - By John Resig (MIT Licensed)
        Array.prototype.remove = function(from, to) {
          var rest = this.slice((to || from) + 1 || this.length);
          this.length = from < 0 ? this.length + from : from;
          return this.push.apply(this, rest);
        };

        
        
        function autoTypeSearch () {
            var typingTimer;
            var doneInterval = 800;
            var searchInput = $(".navbar-form input[type=text]");
            var searchQuery;
      
            searchInput.keyup(function (event) {
              searchQuery = $(this).val();
              clearTimeout(typingTimer);
              typingTimer = setTimeout(doneSearchString, doneInterval)
      
            });
      
            searchInput.keydown(function (event) {
              console.log(event.key);
              clearTimeout(typingTimer);
      
            });
      
            


            // change this to fit the user own tweet filter search
            function doneSearchString() {
              if (searchQuery){
                //url = "/tweet/search/?q="+searchQuery;
                let nanikore = document.location.href;
                nanikore = nanikore.split("?")[0];
                nanikore = nanikore.split("/");
                nanikore.remove(0, 2);
                if (nanikore[nanikore.length - 1] === ""){
                  nanikore.remove(-1);
                  
                }

                nanikore = "/" + nanikore.join("/")  + "/";
                nanikore = nanikore + "?q="+searchQuery;
                
                console.log(nanikore);
                document.location.href = nanikore;
              }
            }
        }

        $(document).ready(function(){
          autoTypeSearch();

        });
    

    </script>
  </body>
</html>