{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} My Blog {% endblock title %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .green-class {
        color: green;
      }
      .red-class {
        color: red;
      }
      .grey-class {
        color: grey;
      }

      .grey-class a {
        color: grey;
      }


    </style>

  </head>
  <body>
    

    <div class="container">
        {% include "navbar.html" %}
        {% block body %}
            
        {% endblock body %}
    </div>

    {% include "reply-modal.html" %}
    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% block script %} {% endblock script %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'tweets/js/tweets_list.js' %}"></script>

    <script>

        function autoTypeSearch () {
            var typingTimer;
            var doneInterval = 800;
            var searchInput = $(".navbar-form input[type=text]");
            var searchQuery;
      
            searchInput.keyup(function (event) {
              searchQuery = $(this).val();
              clearTimeout(typingTimer);
              typingTimer = setTimeout(doneSearchString, doneInterval)
      
            });
      
            searchInput.keydown(function (event) {
              console.log(event.key);
              clearTimeout(typingTimer);
      
            });
      
            


            // change this to fit the user own tweet filter search
            function doneSearchString() {
              if (searchQuery){
                url = "/tweet/search/?q="+searchQuery;
                document.location.href = url;
              }
            }
        }

        $(document).ready(function(){
          autoTypeSearch();

        });
    

    </script>
  </body>
</html>